html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-style: italic;
    /* color: black; */
    background-image: url("./Assets/Images/site-back.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-align:  center;

    
}

.Box{
    display: inline-block;
    margin: 10px;
    /* padding: 0 10px; */
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    /* box-shadow: 5px 5px 10px; */
    text-align: left;
    /* background-color: rgba(240, 248, 255, 0.473); */

    
}
img{

    border-radius: 10px;
    vertical-align: middle;
    box-shadow: 2px 2px 2px;

}

a {
    color: blue;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }